<!--<ion-view cache-view='false'>-->
  <ion-header>
    <ion-navbar>

      <ion-buttons *ngIf="isLogin == false" (click)="goToLogin()">
        <button ion-button icon-only>
          登陆/注册
        </button>
      </ion-buttons>

      <div class="user-pic" *ngIf="isLogin" (click)="goToUser()">
        <img src="assets/icon/icon-app.png" alt="头像">
      </div>

      <ion-title>
        VR
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="home">
    <ion-card *ngFor="let item of items" (click)="goToDetailPage(item)">
      <img [src]="item.cover"/>
      <div class="card-title">{{ item.title }}</div>
    </ion-card>
  </ion-content>
<!--</ion-view>-->
